.owl-prev {
    position: absolute;
    top: 25%;
    left: -4%;
    height: 50px;
    width: 50px;
    background-color: white !important;
    border: 1px solid black;
    border-radius: 50% !important;
    color: #007791 !important;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    span {
        font-size: $fs-4;
        line-height: 0.8;
    }
    &:hover {
        box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
    }
    &:focus {
        outline: none;
    }
}

.owl-next {
    position: absolute;
    top: 25%;
    right: -3%;
    height: 50px;
    width: 50px;
    background-color: white !important;
    border: 1px solid black;
    border-radius: 50% !important;
    color: #007791 !important;
    box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
    span {
        font-size: $fs-4;
        line-height: 0.8;
    }
    &:hover {
        box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
    }
    &:focus {
        outline: none;
    }
}

.carousel-inner {
    overflow: visible
}

.course_bot {
    .owl-prev {
        position: absolute;
        top: 25%;
        left: -3%;
        height: 50px;
        width: 50px;
        background-color: white !important;
        border: 1px solid black;
        border-radius: 50% !important;
        color: #007791 !important;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
        span {
            font-size: $fs-4;
            line-height: 0.8;
        }
        &:hover {
            box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
        }
        &:focus {
            outline: none;
        }
    }
    .owl-next {
        position: absolute;
        top: 25%;
        right: -3%;
        height: 50px;
        width: 50px;
        background-color: white !important;
        border: 1px solid black;
        border-radius: 50% !important;
        color: #007791 !important;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
        span {
            font-size: $fs-4;
            line-height: 0.8;
        }
        &:hover {
            box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
        }
        &:focus {
            outline: none;
        }
    }
}

.students_rating {
    .owl-prev {
        position: absolute;
        top: 25%;
        left: -3%;
        height: 50px;
        width: 50px;
        background-color: white !important;
        border: 1px solid black;
        border-radius: 50% !important;
        color: #007791 !important;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
        span {
            font-size: $fs-4;
            line-height: 0.8;
        }
        &:hover {
            box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
        }
        &:focus {
            outline: none;
        }
    }
    .owl-next {
        position: absolute;
        top: 25%;
        right: -3%;
        height: 50px;
        width: 50px;
        background-color: white !important;
        border: 1px solid black;
        border-radius: 50% !important;
        color: #007791 !important;
        box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
        span {
            font-size: $fs-4;
            line-height: 0.8;
        }
        &:hover {
            box-shadow: 0 0 2px 2px rgba(20, 23, 28, .1), 0 5px 2px 0 rgba(20, 23, 28, .1);
        }
        &:focus {
            outline: none;
        }
    }
}

.disabled {
    display: none;
}